# Load Data in Clean State

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/census.csv', skipinitialspace = True )

In [3]:
df.dtypes

age                int64
workclass         object
fnlgt              int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [4]:
df.to_csv('data/clean_census.csv', index=False)

In [3]:
df = pd.read_csv('data/clean_census.csv')

# Data Understanding

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlgt           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [14]:
# how many values are there for each categorical column?
str_cols = df.columns[df.dtypes==object]
display(df[str_cols].nunique())
for col in str_cols:
    display(df[col].value_counts())

workclass          9
education         16
marital-status     7
occupation        15
relationship       6
race               5
sex                2
native-country    42
salary             2
dtype: int64

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

sex
Male      21790
Female    10771
Name: count, dtype: int64

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

# Target-Label-based Slicing

In [5]:
cls_feat = 'salary'

In [6]:
numeric_cols = df.columns[df.dtypes!=object]

In [11]:
def slice_classes(df, cls_feat, feature):
    """ Function for calculating descriptive stats on slices."""
    for cls in df[cls_feat].unique():
        df_temp = df[df[cls_feat] == cls]
        mean = df_temp[feature].mean()
        stddev = df_temp[feature].std()
        print(f"Class: {cls}")
        print(f"{feature} mean: {mean:.4f}")
        print(f"{feature} stddev: {stddev:.4f}")
    print()


for col in numeric_cols:
    print(col)
    slice_classes(df, cls_feat, col)

age
Class: <=50K
age mean: 36.7837
age stddev: 14.0201
Class: >50K
age mean: 44.2498
age stddev: 10.5190

fnlgt
Class: <=50K
fnlgt mean: 190340.8652
fnlgt stddev: 106482.2712
Class: >50K
fnlgt mean: 188005.0000
fnlgt stddev: 102541.7755

education-num
Class: <=50K
education-num mean: 9.5951
education-num stddev: 2.4361
Class: >50K
education-num mean: 11.6117
education-num stddev: 2.3851

capital-gain
Class: <=50K
capital-gain mean: 148.7525
capital-gain stddev: 963.1393
Class: >50K
capital-gain mean: 4006.1425
capital-gain stddev: 14570.3790

capital-loss
Class: <=50K
capital-loss mean: 53.1429
capital-loss stddev: 310.7558
Class: >50K
capital-loss mean: 195.0015
capital-loss stddev: 595.4876

hours-per-week
Class: <=50K
hours-per-week mean: 38.8402
hours-per-week stddev: 12.3190
Class: >50K
hours-per-week mean: 45.4730
hours-per-week stddev: 11.0130

In [33]:
def slice_categorical(df, feature):
    """ Function for calculating descriptive stats on slices."""
    for cls in df[feature].unique():
        cls_idx = np.where((df[feature] == cls))
        df_temp = df.iloc[cls_idx]
        count = df_temp[feature].count()
        print(f"{cls} count: {count}")

    print()

for col in str_cols:
    print(f"Feature: {col}")
    slice_categorical(df, col)

Feature: workclass
State-gov count: 1298
Self-emp-not-inc count: 2541
Private count: 22696
Federal-gov count: 960
Local-gov count: 2093
? count: 1836
Self-emp-inc count: 1116
Without-pay count: 14
Never-worked count: 7

Feature: education
Bachelors count: 5355
HS-grad count: 10501
11th count: 1175
Masters count: 1723
9th count: 514
Some-college count: 7291
Assoc-acdm count: 1067
Assoc-voc count: 1382
7th-8th count: 646
Doctorate count: 413
Prof-school count: 576
5th-6th count: 333
10th count: 933
1st-4th count: 168
Preschool count: 51
12th count: 433

Feature: marital-status
Never-married count: 10683
Married-civ-spouse count: 14976
Divorced count: 4443
Married-spouse-absent count: 418
Separated count: 1025
Married-AF-spouse count: 23
Widowed count: 993

Feature: occupation
Adm-clerical count: 3770
Exec-managerial count: 4066
Handlers-cleaners count: 1370
Prof-specialty count: 4140
Other-service count: 3295
Sales count: 3650
Craft-repair count: 4099
Transport-moving count: 1597
Farming-fishing count: 994
Machine-op-inspct count: 2002
Tech-support count: 928
? count: 1843
Protective-serv count: 649
Armed-Forces count: 9
Priv-house-serv count: 149

Feature: relationship
Not-in-family count: 8305
Husband count: 13193
Wife count: 1568
Own-child count: 5068
Unmarried count: 3446
Other-relative count: 981

Feature: race
White count: 27816
Black count: 3124
Asian-Pac-Islander count: 1039
Amer-Indian-Eskimo count: 311
Other count: 271

Feature: sex
Male count: 21790
Female count: 10771

Feature: native-country
United-States count: 29170
Cuba count: 95
Jamaica count: 81
India count: 100
? count: 583
Mexico count: 643
South count: 80
Puerto-Rico count: 114
Honduras count: 13
England count: 90
Canada count: 121
Germany count: 137
Iran count: 43
Philippines count: 198
Italy count: 73
Poland count: 60
Columbia count: 59
Cambodia count: 19
Thailand count: 18
Ecuador count: 28
Laos count: 18
Taiwan count: 51
Haiti count: 44
Portugal count: 37
Dominican-Republic count: 70
El-Salvador count: 106
France count: 29
Guatemala count: 64
China count: 75
Japan count: 62
Yugoslavia count: 16
Peru count: 31
Outlying-US(Guam-USVI-etc) count: 14
Scotland count: 12
Trinadad&Tobago count: 19
Greece count: 29
Nicaragua count: 34
Vietnam count: 67
Hong count: 20
Ireland count: 24
Hungary count: 13
Holand-Netherlands count: 1

Feature: salary
<=50K count: 24720
>50K count: 7841

# Other checks

In [61]:
# all categoricals as text lists
for col in str_cols:
    print(df[col].unique().tolist())

['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked']
['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', 'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school', '5th-6th', '10th', '1st-4th', 'Preschool', '12th']
['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse', 'Widowed']
['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair', 'Transport-moving', 'Farming-fishing', 'Machine-op-inspct', 'Tech-support', '?', 'Protective-serv', 'Armed-Forces', 'Priv-house-serv']
['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried', 'Other-relative']
['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']
['Male', 'Female']
['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico', 'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'China', 'Japan', 'Yugoslavia', 'Peru', 'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago', 'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary', 'Holand-Netherlands']
['<=50K', '>50K']

In [67]:
# Create education to education-num mapping
df[['education','education-num']].drop_duplicates().sort_values('education-num').set_index('education')['education-num'].to_dict()

{'Preschool': 1,
 '1st-4th': 2,
 '5th-6th': 3,
 '7th-8th': 4,
 '9th': 5,
 '10th': 6,
 '11th': 7,
 '12th': 8,
 'HS-grad': 9,
 'Some-college': 10,
 'Assoc-voc': 11,
 'Assoc-acdm': 12,
 'Bachelors': 13,
 'Masters': 14,
 'Prof-school': 15,
 'Doctorate': 16}

In [68]:
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')